/* *********************************************************************************************** */
/* ***********************************      start global    ************************************** */
/* *********************************************************************************************** */

:root {
    --PrimaryRedColor: hsl(0, 100%, 74%);
    --PrimarygreenColor: hsl(154, 59%, 51%);
    --AccentColor: hsl(248, 32%, 49%);
    --NeutralDarkColor: hsl(249, 10%, 26%);
    --NeutralGrayishColor: hsl(246, 25%, 77%);
}


body {
    font-family: "Poppins", serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

/* *********************************************************************************************** */
/* ***********************************       end global     ************************************** */
/* *********************************************************************************************** */